.movie-card {
  display: inline-block;
  width: calc(15% - 10px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.movie-card h3 {
  margin: 10px 0;
}

.movie-card p {
  font-size: 15px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
